.heading {
  text-align: center;
  font-size: 2rem;
  color: #12b0e8;
}
span {
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #50dbb4;
  font-weight: 900;
}
