* {
  margin: 0;
  box-sizing: none;
  scroll-behavior: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6,
i,
a,
div,
section {
  margin: 1rem;
}

span,
p {
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
}
button,
a {
  cursor: pointer;
}
button {
  border: none;
}
