ul {
  list-style: none;
}

.products {
  display: flex;
}

.products__filterBox {
  flex-basis: 25vw;
  position: static;
  height: 100vh;
}

.products__listing {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}
.product {
  min-width: 25vw;
  max-width: 33vw;
  max-height: 40vh;
  margin: 1rem;
  transition: all 0.5s;
  padding-bottom: 0.3rem;
  display: flex;

  flex-direction: column;
  /* flex-direction: row; */
  align-items: center;
  /* background-color: lightpink; */
  box-shadow: 1px 1px 2px lightgray;
}
.product__image {
  max-width: 27vw;
  max-height: 25vh;
}
.product__name {
  font-weight: bold;
  margin-bottom: 0rem;
}
.product__rating {
  font-weight: 500;
}
.product__price {
  font-weight: 500;
}
.product:hover {
  box-shadow: 0 0 10px rgba(13, 105, 28, 0.5);
  transform: translateY(-1vmax);
  transition: all 1s;
}
