<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/core.css">
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <footer id="footer">
      <div class="footer__left">
        <h4>Download Eduction Rail app</h4>
        <p>Is now available on android & ios .</p>
        <div>
          <i class="fa-brands fa-apple fa-2x"></i>
          <i class="fa-brands fa-android fa-2x"></i>
        </div>
      </div>
      <div class="footer__mid">
        <h2>ECommerce</h2>
        <p>The rail of service related education items</p>
        <p>Today &copy;</p>
      </div>
      <div class="footer__right">
        <h4>Follow us</h4>
        <p>Our presence in verse</p>
        <div class="footer__right__links">
          <a href="#"> <i class="fa-brands fa-instagram fa-2x"></i></a>
          <a href="#"> <i class="fa-solid fa-blog fa-2x"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
