<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="../css/header.css">
  <body>
    <nav class="header__nav">
      <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        reprehenderit perspiciatis accusamus suscipit voluptates? Dolore, quis
        illum. Officiis architecto, nemo excepturi voluptates laborum amet quas,
        incidunt ipsam, nulla laudantium veniam aliquid ex placeat.
      </h2>
    </nav>
  </body>
</html>
