<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/product.css" />
  </head>
  <body>
    <section class="product">
      <img
        src="../assets/product/link-pen.jpeg"
        alt=""
        class="product__image"
      />
      <p class="product__name"></p>
      <div class="product__rating">5 star</div>
      <span class="product__price">523</span>
    </section>
  </body>
</html>
