<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../css/product.css" />
  </head>
  <body>
    <div class="product__container">
      <section class="product">
        <img
          src="../assets/product/link-pen.jpeg"
          alt=""
          class="product__image"
        />
        <p class="product__name">Link Ocean</p>
        <div class="product__rating">5 star</div>
        <span class="product__price">523</span>
      </section>
      <section class="product">
        <img
          src="../assets/product/bottle.png"
          alt=""
          class="product__image"
        />
        <p class="product__name">Link Ocean</p>
        <div class="product__rating">5 star</div>
        <span class="product__price">523</span>
      </section>
      <section class="product">
        <img
          src="../assets/product/whiteboard.jpeg"
          alt=""
          class="product__image"
        />
        <p class="product__name">Link Ocean</p>
        <div class="product__rating">5 star</div>
        <span class="product__price">523</span>
      </section>
      <section class="product">
        <img
          src="../assets/product/handkerchief.jpeg"
          alt=""
          class="product__image"
        />
        <p class="product__name">Link Ocean</p>
        <div class="product__rating">5 star</div>
        <span class="product__price">523</span>
      </section>
      <section class="product">
        <img
          src="../assets/product/classmateone.jpeg"
          alt=""
          class="product__image"
        />
        <p class="product__name">Link Ocean</p>
        <div class="product__rating">5 star</div>
        <span class="product__price">523</span>
      </section>
      <section class="product">
        <img
          src="../assets/product/book-reading-how-to-win-friends-and-infulence-people.jpeg"
          alt=""
          class="product__image"
        />
        <p class="product__name">Link Ocean</p>
        <div class="product__rating">5 star</div>
        <span class="product__price">523</span>
      </section>
      <section class="product">
        <img
          src="../assets/product/school-bag.jpeg"
          alt=""
          class="product__image"
        />
        <p class="product__name">Link Ocean</p>
        <div class="product__rating">5 star</div>
        <span class="product__price">523</span>
      </section>
      <section class="product">
        <img
          src="../assets/product/classmate.jpg"
          alt=""
          class="product__image"
        />
        <p class="product__name">Link Ocean</p>
        <div class="product__rating">5 star</div>
        <span class="product__price">523</span>
      </section>
    </div>
  </body>
</html>
